@import url('https://fonts.cdnfonts.com/css/roboto');

/* variables */
$white: #fff !default;
$gray: #434343 !default;
$gray-light: #F5F5F5 !default;
$gray-medium: #575757 !default;
$red: #FF473A !default;
$red_bg: #fbe7e7 !default;

/* generale style */
*, html, body{
    font-size: 1em;
    color: $gray;
    font-family: 'Roboto';
}

h2{
    font-size: 32px;
    font-family: 'Roboto Medium';
    color: $gray;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

button{
    padding: .5rem;
    background-color: $red;
    color: $white;
    width: 100%;
    max-width: 343px;
    border-radius: 0.5rem;
    border: unset;
    font-family: "Roboto medium";
    margin-bottom: 3rem;
    margin-top: 2rem;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover{
        box-shadow: -1px 6px 18px -5px rgba(166,166,166,0.87);
    }
}

input{
    max-width: 524px;
    width: 100%;
    padding: 1rem;
    background-color: $gray-light;
    border-radius: 0.5rem;
    border: unset;
    margin-bottom: 2rem;
    line-height: 1;
    &:focus, &:active{
        outline-color: $red;
    }
    &::placeholder{
        font-size: 1em;
        color: $gray-medium;
        font-weight: 300;
    }
}
.qi-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 992px){
        justify-content: space-around;
    }
}

.qi-nav{
    margin: 1rem 0;
    display: block;
    color: $red;
    text-decoration: none;
    font-size: large;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        color: $gray-medium;
    }
}
