<h2>LES PROCHAINES SORTIES</h2>
<div class="d-flex align-items-center flex-column">
    <ng-container *ngIf="games">
        <div class="d-flex align-items-center flex-column">
            <div class="qi-items">
                <ng-container *ngFor="let games of gamesToShow">
                    <app-card [src]="games.image" [description]="games.description" [isOnline]="false"
                        [isGame]="true"></app-card>
                </ng-container>
            </div>
            <button *ngIf="gamesToShow.length < games.length" type="button" (click)="seeMoreGames()">Voir
                plus</button>
            <button *ngIf="gamesToShow.length == games.length" type="button" (click)="showInitialGames()">Voir
                moins</button>
        </div>
    </ng-container>
</div>