<div class="container my-5 mx-auto w-100">
    <div class="d-flex flex-column align-items-center">
        <h1 class="qi_logo"><img alt="logo_image" [src]=logoImage></h1>
        <form class="d-flex flex-column align-items-center w-100" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="qi_form_inputs d-flex flex-column align-items-center w-100">
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur: *"
                    formControlName="username">
                <input type="password" id="password" name="password" placeholder="Mot de passe: *"
                    formControlName="password">
            </div>
            <div class="qi_form_submit">
                <button type="submit">Se connecter</button>
            </div>
            <div class="error" *ngIf="loginError">
                <p class="text-danger">Oops, nom d'utilisateur ou mot de passe incorrecte!</p>
            </div>
            <div class="error" *ngIf="invalidError && !loginError">
                <p class="text-danger">Le nom d'utilisateur et mot de passe sont Obligatoires!</p>
            </div>
        </form>
    </div>
</div>