@import "../../../assets/style/style.scss";

h1.qi_logo{
    margin-bottom: 4rem;
    img{
        width: -webkit-fill-available;
    }
    @media only screen and (max-width: 992px){
        max-width: 200px;
    }
}
.qi_form_submit{
    max-width: 326px;
    width: 100%;
    margin-top: 3rem;
}
.error{
    margin-top: 2rem;
    padding: 1rem;
    border-bottom: 2px solid red;
    background: $red_bg;
    p{
        line-height: 1;
        margin: 0;
        font-family: Roboto medium;
    }
}
