@import "../../../assets/style/style.scss";

header{
    background-color: $gray;
    height: 67px;
    width: 100%;
    h1{
        margin: unset;
    }
    i.ico-logout{
        cursor: pointer;
        display: block;
        width: 37px;
        height: 36px;
        background-image: url('../../../assets/icons/Logout.svg');
    }
}
