<header>
    <div class="container p-3 d-flex justify-content-between">
        <h1><img alt="logo-header" [src]="logoImage"></h1>
        <a (click)="logout()" title="Se deconnecter"><i class="ico ico-logout"></i></a>
    </div>
</header>