@import "../../../assets/style/style.scss";

.qi-card{
    max-width: 310px;
    width: 100%;
    height: 323px;
    background: $gray;
    position: relative;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        box-shadow: -1px 6px 18px -5px rgba(95, 95, 95, 0.994);
    }
    > span{
        content: '';
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    a{
        width: 100%;
        display: block;
        height: 100%;
        max-height: 200px;
        overflow: hidden;
        img{
            width: -webkit-fill-available;
            height: -webkit-fill-available;
        }
        &.friends_user{
            width: 100%;
            height: auto;
            padding: 3rem;
            margin: 0 auto;
            max-height: 266px;
            ~ .qi-card--description{
                height: fit-content;
            }
        }
    }
    &--description {
        height: 38%;
        width: 100%;
        padding: .5rem;
        background: $gray-medium;
        p{
            color: $white;
            max-height: 52px;
            overflow: hidden;
        }
        .isOnline{
            img{
                margin-right: .5rem;
            }
            a{
                color: $red;
                margin: unset;
                text-decoration: none;
                width: fit-content;
            }
        }
    }
}
