<div class="qi-card" *ngIf="isGame">
    <span *ngIf="isOnline"><img class="mr-2" alt="online" src="../../../assets/icons/Filedownload.svg"></span>
    <span *ngIf="!isOnline"><img class="mr-2" alt="online" src="../../../assets/icons/cart.svg"></span>

    <a [href]="href">
        <img [alt]="alt" [src]="src">
    </a>
    <div class="qi-card--description">
        <p>{{description}}</p>
        <span *ngIf="isOnline" class="d-flex isOnline">
            <img class="mr-2" alt="online" src="../../../assets/icons/getmedia.svg">
            <a href="#">Jouer en ligne</a>
        </span>
    </div>
</div>

<div class="qi-card" *ngIf="isFriends">
    <span *ngIf="isFriend"><img class="mr-2" alt="online" src="../../../assets/icons/user.svg"></span>
    <span *ngIf="!isFriend"><img class="mr-2" alt="online" src="../../../assets/icons/add_friend.svg"></span>

    <a [href]="href" [class.friends_user]="isFriends">
        <img [alt]="alt" [src]="src">
    </a>
    <div class="qi-card--description">
        <p>{{description}}</p>
    </div>
</div>