<app-header></app-header>
<div class="container mt-5">
    <a (click)="goToFriends()" title="Amis" class="qi-nav">Page list d'amis</a>
    <app-my-games></app-my-games>
    <app-store-games></app-store-games>
</div>