@import "../../../assets/style/style.scss";

app-card{
    margin-right: 0.5rem;
}
.qi-search-conatiner{
    position: relative;
    max-width: 524px;
    width: 100%;
    span.ico-search{
        background-image: url(../../../assets/icons/Search.svg);
        right: 0.5rem;
        top: 0.5rem;
    }
    span.ico-clear{
        background-image: url(../../../assets/icons/Close.svg);
        right: 0.7rem;
        top: 0.4rem;
    }
    span{
        cursor: pointer;
        width: 34px;
        height: 34px;
        display: block;
        position: absolute;
        opacity: .7;
    }
    
}
p{
    background: $red_bg;
    color: $gray-medium;
    width: 100%;
    border-radius: 0.5rem;
    font-family: "Roboto medium";
}
