<app-header></app-header>
<div class="container mt-5">
    <a (click)="goToGames()" title="Jeux" class="qi-nav">Page list de jeux</a>
    <h2>Mes amis</h2>
    <div class="qi-search-conatiner">
        <input type="text" id="search" name="search" placeholder="Chercher un ami" class="qi-search"
            (keyup)="searchFriends($event)">
        <span class="ico-search" *ngIf="friendsToShow.length !== 0"></span>
        <span class="ico-clear" *ngIf="friendsToShow.length === 0" (click)="clearSearch()"></span>
    </div>
    <ng-container *ngIf="friends">
        <div class="d-flex align-items-center flex-column">
            <div class="qi-items">
                <ng-container *ngFor="let friend of friendsToShow">
                    <app-card [src]="src" [description]="friend.full_name" [isFriends]="true" [isOnline]="true"
                        [isFriend]="friend.is_friend"></app-card>
                </ng-container>
            </div>
            <ng-container *ngIf="friendsToShow.length !== 0">
                <button *ngIf="friendsToShow.length < friends.length" type="button" (click)="seeMoreFriends()">Voir
                    plus</button>
                <button *ngIf="friendsToShow.length == friends.length" type="button" (click)="showInitialFriends()">Voir
                    moins</button>
            </ng-container>
            <ng-container *ngIf="friendsToShow.length === 0">
                <p class="p-3">Oops, Aucun resultat trouvé!</p>
            </ng-container>

        </div>
    </ng-container>
</div>