<div class="container my-5 mx-auto w-100">
    <div class="d-flex flex-column align-items-center">
        <h1 class="qi_logo">
            <img alt="logo_image" [src]=logoImage>
        </h1>
        <div class="d-flex flex-column align-items-center w-100">
            <div class="error">
                <p class="text-danger">Oops, Page non trouvée!</p>
            </div>
            <button class="w-50" type="button" (click)="goBack()">Revenir</button>
        </div>
    </div>
</div>